*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Slabo 27px', serif;
}

.padding{
    padding: 75px 0px;
}

.clear{
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
    content: "";
}

.bg{
    background-color: #f7f7f7 !important;
}

.text{
    color: #f24259 !important;
}

.btn, .card, input, textarea, .navbar-toggler{
    border-radius: 0px !important;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
}

.custom-btn{
    color: #ffffff;
    background-color: #f24259 !important;
}

/*************************************************** Start Home page ************************************************/

/***** Start header section ****/

#header{
    background-image: url(../images/slider.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar-brand{
    font-size: 30px;
}

.nav-link{
    font-size: 18px;
    color: #fff !important;
}

.navbar-toggler{
    background-color: #f24259 !important;
    color: #ffffff !important;
}

/***** End header section *****/

/***** Start about section *****/

/* .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
} */
  
.skill-name{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}
  
.skill-bar{
    height: 5px;
    border: 1px solid #f24259;
    border-radius: 8px;
}
  
.skill-per{
    height: 4px;
    background-color: #f24259;
    width: 0;
    transition: 1s linear;
    position: relative;
}
  
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #f24259;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
  
.skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f24259;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

/***** End about section *****/

/***** Start Service section *****/

#service .card{
    transition: all .2s;
}

#service .card:hover{
    color: #f24259;
}

/***** End Service section *****/

/****** Start portfolio section *****/

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #f24259;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 154, 154, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #28bea8;
    color: #fff;
}

/****** Start portfolio section *****/

/***** Start Blog section ****/

#blog .card .card-img-top{
    position: relative;
}

#blog .card .card-img-text{
    position: absolute;
    top: 15px;
    left: 0px;;
}

/***** End Blog section ****/

/***** Start message section *****/

#message{
    background: url(../images/map.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/***** End message section *****/


/*************************************************** End Home page ************************************************/